<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Department</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body{
        background: #cde0f6 
    }
    </style>
</head>
<body>
    <header>
        <h1>CS Department </h1>
        <nav>
            <ul>
            </ul>
        </nav>
    </header>

    <main>
        <section id="login">
            <h2>Login Page</h2>

            <form action="/login" method="POST">

                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <h3></h3>
                <button type="submit">Login</button>
            </form>
    </main>

</body>
</html>
