<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>CS Department Event Page &mdash; </title>
		<style type="text/css">
			body {
				margin:0;
				padding:0;
				font-family: Sans-Serif;
				line-height: 1.5em;
                background: #e3ecc3af;
			}
			
			header { 
				background: #e1dc53af;
				height: 100px;
			}
			
			header h1 {
				margin: 0;
				padding-top: 15px;
			}
					
	
			#wrapper {
				overflow: hidden;
			}

    </style>
</head>
<body>      

<header>
    <div class="innertube">
        <h1 align="center">Xavier University Events</h1>
    </div>
</header>


<div id="wrapper">     
    <nav>
        <div class="innertube">
            <h1 align="center">Welcome to our website! </h1>

            <form action="/SignUp" align="center">

                <button type="submit">SignUp </button>
             <h2></h2>   
            </form>
            <form action="/login" align="center">
        
                <button type="submit">Login</button>
            </form>
            
            
        </div>
    </nav>
</div>
</body>
</html>
